$black: #181818;
$grey: #818387;
$light-grey: #F7F7F7;
$white: #FFFFFF;
$primary: #135ADE;
$light-primary: #3771DD;
$light-primary-shade: #E6EFFF;
$accent: #41C3D8;
$light-yellow: #FEF9E5;
$light-red: #F6DDC9;
$red: #DE6437;